<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dwallach.xstopwatch" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/stopwatch_trans"
        android:label="@string/stopwatch_app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="org.dwallach.xstopwatch.StopwatchActivity"
            android:icon="@drawable/stopwatch_trans"
            android:launchMode="singleTask"
            android:label="@string/stopwatch_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.dwallach.xstopwatch.TimerActivity"
            android:icon="@drawable/sandwatch_trans"
            android:launchMode="singleTask"
            android:label="@string/timer_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="intent.action.notification.stopwatch.click" />
                <action android:name="org.dwallach.x.stopwatch.query" />
                <action android:name="intent.action.notification.timer.click" />
                <action android:name="org.dwallach.x.timer.query" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
